{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  <h2>{{ title }}</h2>

  <p>{% trans "Restore data from this archive?" %}</p>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
	  <th>{% trans "Location" %}</th>
          <th>{% trans "Name" %}</th>
        </thead>
        <tbody>
          <tr>
	    <td>{{ label }}</td>
            <td>{{ name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p>
    <form class="form" method="post">
      {% csrf_token %}

      <input type="submit" class="btn btn-danger"
             value="{% blocktrans trimmed %}
                      Restore data from {{ name }}
                    {% endblocktrans %}"/>
    </form>
  </p>

{% endblock %}
