@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-Semibold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-SemiboldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-Heavy.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url('../lato/Lato-HeavyItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 800;
}


body {
    padding-top: 6em;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: 22.5px 75px;
}

.multiple-checkbox li {
    list-style-type: none;
}

.nav .glyphicon,
.sidebar .glyphicon {
    margin-right: 4px;
}

.navbar-brand img {
    float: left;
    margin-top: -10px;
    padding: 8px;
}

.navbar-brand {
    margin-right: -30px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.running-status-parent {
    display: inline-block;
}

.running-status {
    border-radius: 50%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.running-status.active {
    background-color: rgb(0, 167, 0);
}

.running-status.inactive {
    background-color: rgb(228, 66, 66);
}

.running-status.loading {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    animation: spin 1s linear infinite;
}

.nav-link:hover, .nav-link:visited, .nav-link:link, .nav-link:active {
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-diagnostics-button {
    display: inline-block;
}

/* Hide log out button if user dropdown is available */
.js #logout-nojs {
    display: none;
}

/* Hide the dropdown icon when javascript is not available */
.no-js .nav .dropdown .caret {
    display: none;
}

.diagnostics-results .diagnostics-result {
    width: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
footer .license-info {
    opacity: 0.75;
}

.footer-logo {
    width: 140px;
}

html {
    position: relative;
}

body,
html {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#container-wrapper {
    /*covers for footer height */
    padding-bottom: 150px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

footer license-info p {
    margin: 20px 0;
}

.shortcut-label {
    min-height: 50px;
}

/*
 * Clients information
 */
.client-icon {
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 20px;
    max-width: 20px;
    margin: auto;
}

#clients .btn {
    width: 8em;
    margin-right: 1em;
}

#clients th, #clients td {
    line-height: 3.1em;
}

/* Icon when collapsible content is shown */
#clients-button .glyphicon {
    margin-left: 5px;
}

#clients-button .glyphicon:before,
.no-js #clients-button.collapsed .glyphicon:before {
    content: "\e114";
}

#clients-button.collapsed .glyphicon:before {
    content: "\e080";
}

/* No-JS fallbacks for collapsible content in clients.html */
.no-js .collapse {
    display: block;
}

.manual-page {
    text-align: right;
}

/* applying styles to header - begin */
.main-header {
    background: #4989D4;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    border: none;
}

.main-header .navbar-nav>li>a {
    color: #FFF;
}

.main-header.navbar-default .navbar-nav>li>a:focus,
.main-header.navbar-default .navbar-nav>li>a:hover,
.main-header.navbar-default .navbar-nav>.active>a,
.main-header.navbar-default .navbar-nav>.active>a:hover,
.main-header.navbar-default .navbar-nav>.active>a:focus,
.main-header.navbar-default .navbar-nav>.open>a,
.main-header.navbar-default .navbar-nav>.open>a:hover,
.main-header.navbar-default .navbar-nav>.open>a:focus {
    color: #FFF;
    background: transparent;
}

.main-header .navbar-nav>li>a .nav-icon {
    margin-right: 0px;
}
/* applying styles to header - end */

.card-list {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.menu_link {
    text-decoration: none;
}

a.menu_link:hover,a.menu_link:active {
    text-decoration: none;
}

a.menu_link_active {
    border-bottom: white 3px solid;
}

.card {
    text-align: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
    width: 16rem;
    padding: 0;
    margin: 0 10px 20px;
}

.card:hover {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.card .nav-link {
    display: block;
    padding: 20px 4px 4px 4px;
}

.card-title, .card-description {
    margin: 4px;
    color: #333;
}

.card-title {
    font-weight: bold;
    font-size: 1.75rem;
}

.card-description {
    font-size: small;
}

.card-icon {
	  background: radial-gradient(farthest-side at bottom,#eefff0, white);
	  background-position: 50% 100%;
	  background-repeat: no-repeat;
	  background-size: 150% 25%;
}

.card-icon span {
    width: 100px;
    height: 100px;
    font-size: 80px;
}

.card-icon img {
    width: 100px;
    height: 100px;
    font-size: 80px;
}

/* Button table - Tables with a list of actions as buttons on top */
.button-table > .button-row + .table {
    margin-top: 10px;
}

.bg-warning {
    margin: 10px 0;
    padding: 15px;
}

.bg-warning p:last-child {
    margin: 0;
}

.background-logo {
    background-image: url('../img/freedombox-logo-background.svg');
}

.background-apps {
    background-image: url('../img/apps-background.svg');
}

.background-system {
    background-image: url('../img/system-background.svg');
}
